# Python
__pycache__/
*.py[cod]

# Virtual Environment
.env/
venv/
env/

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sql
*.sqlite

# Temporary files
*.bak
*.swp
*~

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db
